 <!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
  <style>
    /* Styles included inline since you'll probably be deleting or replacing this page anyway */
    html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h2,h3,h4,h5,h6,h7{font-weight:normal;font-size:1em}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}.page .ocean{background:url('http://sailsjs.com/images/waves.png') #0c8da0 no-repeat center 282px;height:315px}.page .ocean img{margin-right:auto;margin-left:auto}.page .waves{display:block;padding-top:25px;margin-right:auto;margin-left:auto}.page .main{display:block;margin-top:90px}.page .logo{width:150px;margin-top:3.5em;margin-left:auto;margin-right:auto}.page .fishy{display:block;padding-top:100px}.page .help{padding-top:2em}.page h1{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:bold;font-size:1.7em;color:#001c20;text-align:center}.page h2{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:300;font-size:1.5em;color:#001c20;text-align:center}.page p{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-size:1.25em;color:#001c20;text-align:center}.page a{color:#118798}.page a:hover{color:#b1eef7}
  </style>

  <div class="page">
    <div class="ocean">
      <img class="fishy" src="http://sailsjs.com/images/image_devInTub.png">
    </div>

    <div class="main">
      <h1>
        Forbidden
      </h1>
      <h2>
        <% if (typeof data !== 'undefined') { %>
        <%= data %>
        <% } else { %>
        You don't have permission to see the page you're trying to reach.
        <% } %>
      </h2>
      <p class="help">
        <a href="http://en.wikipedia.org/wiki/HTTP_403">Why</a> might this be happening?
      </p>
    </div>

    <div class="logo">
      <a href="http://sailsjs.org">
        <img src="http://sailsjs.org/images/logo.png">
      </a>
    </div>
  </div>-->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <!-- Simple HttpErrorPages | MIT License | https://github.com/AndiDittrich/HttpErrorPages -->
   <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>TDB | 403 - Accès refusé</title>
   <style type="text/css">
     html{
       font-family:sans-serif;
       line-height:1.15;
       -ms-text-size-adjust:100%;
       -webkit-text-size-adjust:100%
     }
     body{
       margin:0
     }
     article,aside,footer,header,nav,section{
       display:block
     }
     h1
     {
       font-size:2em;
       margin:.67em 0
     }
     figcaption,figure,main{
       display:block
     }
     figure{
       margin:1em 40px
     }
     hr{
       box-sizing:content-box;
       height:0;
       overflow:visible
     }
     pre{
       font-family:monospace,monospace;
       font-size:1em
     }
     a{
       background-color:transparent;
       -webkit-text-decoration-skip:objects
     }
     a:active,a:hover{
       outline-width:0
     }
     abbr[title]{
       border-bottom:none;
       text-decoration:underline;
       text-decoration:underline dotted
     }
     b,strong{
       font-weight:inherit
     }
     b,strong{
       font-weight:bolder
     }
     code,kbd,samp
     {
       font-family:monospace,monospace;
       font-size:1em
     }
     dfn{
       font-style:italic
     }
     mark{
       background-color:#ff0;
       color:#000
     }
     small{
       font-size:80%
     }
     sub,sup{
       font-size:75%;
       line-height:0;
       position:relative;
       vertical-align:baseline
     }
     sub{
       bottom:-.25em
     }
     sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}/*! Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages */body,html{width:100%;height:100%;background-color:#21232a}body{color:#fff;text-align:center;text-shadow:0 2px 4px rgba(0,0,0,.5);padding:0;min-height:100%;-webkit-box-shadow:inset 0 0 100px rgba(0,0,0,.8);box-shadow:inset 0 0 100px rgba(0,0,0,.8);display:table;font-family:"Open Sans",Arial,sans-serif}h1{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;font-size:36px}h1 small{font-size:68%;font-weight:400;line-height:1;color:#777}a{text-decoration:none;color:#fff;font-size:inherit;border-bottom:dotted 1px #707070}.lead{color:silver;font-size:21px;line-height:1.4}.cover{display:table-cell;vertical-align:middle;padding:0 20px}footer{position:fixed;width:100%;height:40px;left:0;bottom:0;color:#a0a0a0;font-size:14px}
   </style>
 </head>
 <body>
 <div class="cover">
   <h1>Accès refusé <small>Error 403</small></h1>
   <p class="lead">
     <% if (typeof data !== 'undefined') { %>
       <%- data %>
     <% } else { %>
         Vous n'êtes pas autorisé à voir la page que vous essayez d'atteindre.
     <% } %>
   </p>
 </div>

 </body>
 </html>

