
<div class="login-page">

  <div class="form">
    <img src="img/bg.png" alt="Easytech" /><br><br>
    <form class="login-form" enctype="multipart/form-data" method="POST" action="/uploadData">
      <div class="form-group">

      </div>
      <input type="file" id="image" name="image" class="form-control" placeholder="" required/>
      <input type="text" id="id" name="id_pers" class="form-control" placeholder="01020" required/>
      <button>Add</button>
    </form>
  </div>

</div>
