<title xmlns="http://www.w3.org/1999/html">Detourage Reporting</title>

<head>


  <!-- TIME PICKER INCLUDE  -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" href="bootstrap.css" /-->
  <!-- FIN TIME PICKER INCLUDE  -->

  <!--script type='text/javascript' src='/js/jquery.min.js'></script-->
  <!-- TEST BUG MENU -->


  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/bootflat/css/bootstrap.css">
  <link rel="stylesheet" href="/bootflat/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/local.css">
  <link rel="stylesheet" href="/css/Style_v3.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">

  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <!--script type='text/javascript' src='/js/fullcalendar.min.js'></script-->
  <script type="text/javascript">
    $(document).ready(function () {
      $("#submit").click(function (e) {
        e.preventDefault();
        // ajax();
      });
    });
  </script>
</head>

<body>
  <% include ../../includes/entete.ejs %>

  <%
  var style = '';
  if(id_pers==0)
    style = "style='display: none'";
%>
  <div class="container-fluid">
    <form method="post" action="/Detourage/suiviVue">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="form-groupe col-md-2">
              <label for="dateDeb">Debut</label>
              <input type="text" class="form-control" id="dateDeb" name="dateDeb" onchange="" value="<%=dateDeb%>">
            </div>

            <div class="form-groupe col-md-2">
              <label for="dateFin">Fin</label>
              <input type="text" class="form-control" id="dateFin" name="dateFin" onchange="" value="<%=dateFin%>">
            </div>

            <div class="form-groupe col-md-3">
              <label for="etape">CLIENT</label>
              <select id="id_client" name="id_client" class="form-control">

                <option value="0" selected='true'>GROUPE GUTENBERG</option>

                <option value="1">GROUPE 005831</option>


              </select>
            </div>


            <div class="form-groupe col-md-1">
              <label for="sem">-</label>
              <input type="submit" value="OK" class="btn btn-info form-control" />
            </div>
          </div>
        </div>
      </div>
    </form>
    <style>
      .t_client {
        background: #837f7f;
        color: white;
      }

      .designation {
        text-align: left !important;
        padding-left: 50px;
      }
    </style>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="dttb" class="table table-hover">

            <thead>
              <tr style='font-size:10px ;text-align:left !important'>
                <th style='width:15%'>Reference</th>
                <th>Vue 1</th>
                <th>Vue 2</th>
                <th>Vue 3</th>
                <th>Vue 4</th>
                <th>Vue 5</th>
                <th>Vue 6</th>
                <th>Vue 7</th>
                <th>Vue 8</th>
                <th>NBG</th>
                <th>100</th>
                <th>Retouche_1</th>
                <th>CQ Retouche_1</th>
                </th>
              </tr>
            </thead>
            <tbody>
              <%
              function checkValue(vue)
              {
                var retour;
                if(vue=="")
                retour="non reçu"
                else  if(vue=="0 0")
                  retour="Libre";
                else  if(vue=="0")
                  retour="Libre";
                else  if(vue==" 0")
                  retour="Libre";
                else  if(vue=="2 0")
                  retour="En cours";
                else if(vue.includes("2 2"))
                  retour="Terminé";
                else if(vue.includes("0"))
                  retour= "En cours";
                else if(vue.includes("3"))
                  retour= "Anomalie";
                else if(vue.includes("6"))
                  retour= "Bloqué";
                else if(vue.includes("1"))
                  retour= "En cours";
                return retour;
              }

              function checkNbg100(reference)
              {
                var ret="";
                listNbg100.forEach(function(nbg){
                  if(nbg.fichier.includes(reference+".100"))
                    ret +="100";
                    if(nbg.fichier.includes(reference+".NBG"))
                    ret +="NBG";
                });
                return ret;
              }

              function ValueVue(vue1,idlot)
              {
                var retour1="";
                if(checkValue(vue1)=="Terminé")
                {
                  var lot1="";
                  lot=idlot.split('|');
                  for(var i = lot.length -1; i>=0;i--){
                    listidLot.forEach(function(id_lot){
                    if(lot[i]==id_lot.id_lot)
                      lot1 +="|1";
                    });
                  }
                  if(lot1.includes("1"))
                  retour1="En cours";
                  else 
                  retour1="Terminé";
                }
                else 
                  retour1=checkValue(vue1);
                return retour1;
              }

              var html_table = "";
              var reference = "";
             
              var vue1="";
              var vue2="";
              var vue3="";
              var vue4="";
              var vue5="";
              var vue6="";
              var vue7="";
              var vue8="";
              var idlot="";
              var cq="";
              var retouche="";
                      
              var tempVue="";
              suiviRef.forEach(function(vue){
                var lot=vue.lot.split('.'); 
                if(vue.reference!=reference)
                {
                  if(reference!="")
                  {
                   var valueImage= checkNbg100(reference);
                   var nbg=" - ";
                   var color=" - ";
                   if(ValueVue(vue1,idlot)!="non reçu")
                   {
                     nbg= valueImage.includes("NBG")?"OK":" - ";
                     color=valueImage.includes("100")?"OK":" - ";
                   }
                
                      html_table +="<tr><td>"+reference +"</td><td>"+ValueVue(vue1,idlot)+"</td><td>"+checkValue(vue2)+
                      "</td><td>"+checkValue(vue3)+"</td><td>"+checkValue(vue4)+"</td><td>"+checkValue(vue5)+"</td><td>"+checkValue(vue6)
                        +"</td><td>"+checkValue(vue7)+"</td><td>"+checkValue(vue8)+"</td><td>"+nbg+"</td><td>"+color+"</td><td>"+retouche+"</td><td>"+cq+"</td></tr>"
                  }
                 
                  reference=vue.reference;  
               
                   vue1="";
                   vue2="";
                   vue3="";
                   vue4="";
                   vue5="";
                   vue6="";
                   vue7="";
                   vue8="";
                   idlot="";
                   cq="";
                   retouche="";              
                  for(var i = lot.length -1; i>=0;i--){
                    tempVue= lot[i].replace(/\D/g,'');
                    if(tempVue!="")
                    {
                      
                       if(tempVue=="1")
                       {
                        vue1 = vue.etat; idlot = vue.id_lot;
                       }
                        
                      else if(tempVue=="2")
                        vue2= vue.etat;
                      else  if(tempVue=="3")
                        vue3 = vue.etat;
                      else if(tempVue=="4")
                        vue4 =vue.etat;
                      else if(tempVue=="5")
                        vue5 = vue.etat;
                        else if(tempVue=="6")
                        vue6 = vue.etat;
                      else if(tempVue=="7")
                        vue7= vue.etat;
                      else if(tempVue=="8")
                        vue8 =vue.etat;
                        break;
                    }
                  }              
                }
                else
                {
                  for(var i = lot.length -1; i>=0;i--){
                    tempVue= lot[i].replace(/\D/g,'');
                    if(tempVue!="")
                    {
                     
                      if(tempVue=="1")
                      {
                        vue1 +=" "+ vue.etat;
                        idlot += "|"+vue.id_lot;
                      }
                        
                      else if(tempVue=="2")
                        vue2 +=" "+ vue.etat;
                      else  if(tempVue=="3")
                        vue3 +=" "+ vue.etat;
                      else if(tempVue=="4")
                        vue4 +=" "+ vue.etat;
                      else if(tempVue=="5")
                        vue5 +=" "+ vue.etat;
                      else if(tempVue=="6")
                        vue6 +=" "+ vue.etat;
                      else if(tempVue=="7")
                        vue7 +=" "+ vue.etat;
                      else if(tempVue=="8")
                        vue8 +=" "+ vue.etat;
                        break;
                    }
                  }
                

                }
                if(vue.etape=="1931")
                retouche=vue.maricule;
              else 
                cq=vue.maricule;
              });
               
              %>

              <%-html_table%>
            </tbody>
        </div>
      </div>
    </div>
  </div>


  <!-- modal-->
  <div class="modal fade" id="modifVitesseEquilibreModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <!--Content-->
      <form method="GET" action="#">
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="alertModalLabel">Specifier la vitesse d'équilibre</h4>
          </div>
          <!--Body-->
          <div class="modal-body">
            <h3 id="title_client_dif"></h3>
            <input type="hidden" id="id_dificulte" />
            <input type="hidden" id="id_client" />
            <div class="form-group col-md-6">
              <input type="number" id="vitesse_eq" class="form-control" />
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermé</button>
            <button type="button" class="btn btn-success" onclick="saveVequilibre()">Valider</button>
          </div>
        </div>
      </form>
      <!--/.Content-->
    </div>
  </div>
</body>

<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- ECharts -->
<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="/vendors/jszip/dist/jszip.min.js"></script>
<script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>


<script>
  $(function () {
    $("#dateDeb").datepicker({
      dateFormat: 'yymmdd'
    });

    $("#dateFin").datepicker({
      dateFormat: 'yymmdd'
    });

    $('#dttb').DataTable({
      "searching": false,
      "bPaginate": true,
      "pageLength": 50,
      "ordering": false,
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'excelHtml5',
          exportOptions: {
            columns: ':visible',
            format: {
              body: function (data, row, column, node) {
                var data_value = data;
                var split_value = data_value.split('.');
                var result = data_value;
                if (split_value.length > 3) {
                  result = "";
                  for (var i = 3; i < split_value.length; i++) {
                    if (i == 3)
                      result += "" + split_value[i];
                    else
                      result += "." + split_value[i];
                  }
                }
                return result;
              }
            }
          }
        },
        {
          extend: 'csvHtml5',
          exportOptions: {
            columns: ':visible',
            format: {
              body: function (data, row, column, node) {
                var data_value = data;
                var split_value = data_value.split('.');
                var result = data_value;
                if (split_value.length > 3) {
                  result = "";
                  for (var i = 3; i < split_value.length; i++) {
                    if (i == 3)
                      result += "" + split_value[i];
                    else
                      result += "." + split_value[i];
                  }
                }
                return result;
              }
            }
          }
        }
      ]
    });
  });

  function loadDataModif(data) {
    $("#title_client_dif").html(data[2] + "<br/>" + data[3]);
    $("#id_client").val("" + data[0]);
    $("#id_dificulte").val("" + data[1]);
    $("#vitesse_eq").val("" + data[4]);
  }


  function saveVequilibre() {
    $.ajax({
      type: "GET",
      url: "/Detourage/saveVitesseEquilibre?id_client=" + $("#id_client").val() + "&id_difficulte=" + $("#id_dificulte").val() + "&vitesse_eq=" + $("#vitesse_eq").val(),
      success: function (msg) {
        document.location.reload(true);
      },
      error: function (error) {
        alert('error; ' + error);
      }
    });
  }
</script>

</body>