<div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>En cour de developpement</h3>
</div>
  <div class="panel-body">
          <%- partial ('../chart/lineMorris.ejs', {idElement : 'lineMorris',classeElement : ' ', title : id, titleChart : 'Etape' ,data : null}) %>

   </div>
