<!DOCTYPE html>
<html>
<head>
  <title>TDB Stat Heure Call</title>

  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/local.css">
  <link rel="stylesheet" href="/css/Style_v3.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
  <!--STYLES END-->
</head>

<body onLoad="loadspecialiteCall();">
<% if(req.session.droit==1){

%>
<% include ../../includes/entete.ejs %>
<% }else{

%>
<% include ../../includes/enteteOperateur.ejs %>

<% }%>
<div id="page-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class=" row ">

        <div  class="">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> <i class="fa fa-bar-chart-o"></i> </h3>
              <div class="row">
                <div class="form-group">

                  <div class="col-xs-2 col-md-2 col-lg-2">
                    <select class="form-control" tabindex="-1" id="specialite">
                      <option value="">POLE</option>
                    </select>

                  </div>

                  <div class="col-xs-2 col-md-2 col-lg-2" style="display:none" id="divsspec">
                    <select class="form-control" tabindex="-1" id="sspecialite" onchange="loadsoussousspecialite(this.value);">
                      <option value="">SPECIALITE</option>
                    </select>

                  </div>

                  <div class="col-xs-2 col-md-2 col-lg-2" style="display:none" id="divssspec">
                    <select class="form-control" tabindex="-1" id="ssspecialite" onchange="loadsoussoussousspecialite(this.value);">
                      <option value="">SOUS SPECIALITE</option>
                    </select>

                  </div>

                  <div class="col-xs-2 col-md-2 col-lg-2" style="display:none" id="divsssspec">
                    <select class="form-control" tabindex="-1" id="sssspecialite">
                      <option value="">SOUS SOUS SPECIALITE</option>
                    </select>

                  </div>


                  <div class="col-xs-1 col-md-1 col-lg-1">
                    <input class="form-control" tabindex="-1" placeholder="Date Debut" id="datedeb" type="text"/>

                  </div>
                  <div class="col-xs-1 col-md-1 col-lg-1">
                    <input class="form-control" tabindex="-1" placeholder="Date Fin" id="datefin" type="text"/>

                  </div>
                  <div class="col-xs-1 col-md-1 col-lg-1">
                    <input class="form-control" tabindex="-1" placeholder="Matricule" id="matr" type="text"/>

                  </div>
                  <div class="col-xs-1 col-md-2 col-lg-2">

                    <a onclick="searchHeureCall();" class="text-warning" title="recherche globale"><span style="cursor:pointer" class="gray"><i class="fa fa-search fa-3x link"> </i></span></a>
                  </div>


              </div>
            </div>
          </div>


        </div>




      </div>
    </div>




  </div>
</div>
<div id="loadG" class="col-md-4" style="display:none">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
<div id="divGraph" class="col-md-12 col-sm-12 col-xs-12">

</div>
<div id="loadC" class="col-md-4" style="display:none">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
<div id="div" class="col-md-12 col-sm-12 col-xs-12">
</div>


</div>

</div>

<!-- ECharts -->
<script src="/vendors/echarts/dist/echarts.min.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<script src="/js/dossierEtapeApp.js"></script>
<script src="/js/echarts/theme.js"></script>
<script src="/js/echarts/echarts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>


<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="/vendors/jszip/dist/jszip.min.js"></script>
<script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>

<script src="/js/moment.min.js"></script>
<script src="/js/cq_almerys.js"></script>
<!--script src="/js/almerys_heure.js"></script-->
<script>
  // IS VIEW CHAT CHANGE
  function changeSecondToBasicHourFormat(seconds){
    /*var formatcorrect=  moment("2015-01-01").startOf('day')
      .seconds(seconds)
      .format('HH:mm:ss');*/
    var dur = moment.duration(seconds, "seconds");
    var formatcorrect = Math.floor(dur.asHours()) + moment.utc(dur.asMilliseconds()).format(":mm:ss");
    if(parseInt(Math.floor(dur.asHours()))<10)
    {
      formatcorrect = "0"+Math.floor(dur.asHours()) + moment.utc(dur.asMilliseconds()).format(":mm:ss");
    }
    return formatcorrect.toString();
  }

  // GET LISTE DOSSIER CALL
  function loadspecialiteCall()
  {
    $.ajax({
      type: "GET",
      url: "/getspecialiteCall",

      success: function(msg){

        var html = "<option value=''>DEPARTEMENT</option>";
        var data = null;

        try {
          data = JSON.parse(msg);
          for (var i = 0 ; i<data.length ; i++){
            html += "<option value='"+data[i].id_dossier+"'>"+data[i].num_dossier+"</option>"
          }
          $("#specialite").html(html);
        }
        catch (e) {
          $("#specialite").html(html);
        }

      },
      error: function (error) {

      }
    });
  }
  function searchHeureCall() {
    // donneAll = [];
    //fltr = a;
    var dtdb = $("#datedeb").datepicker().val();
    var dtfn = $("#datefin").datepicker().val();
    var sp = $("#specialite").val();
    var matricule= $("#matr").val();
    if(isNaN(parseInt(matricule.toString())) && matricule!="")
    {
      alert("Veuillez entrer un matricule valide!");
      return;
    }
    if(matricule == "") matricule="0";
    if(sp.toString() == "")
    {
      alert("Veuillez selectionner un Dossier!");
      return;
    }
    if(dtdb.toString() == "" || dtfn.toString() == "")
    {
      alert("Veuillez selectionner les deux dates!");
      return;
    }
    $.ajax({
      type: "POST",
      url: "/getlistHeureNonProductifCallAlmerys",
      data: "datedeb=" + dtdb + "&datefin=" + dtfn + "&id_dossier=" + sp + "&id_pers="+matricule+"",

      beforeSend: function (xhr) {
        $("#loadC").show();
        $("#tableFiltre").remove();
      },
      success: function (msg) {
        $("#loadC").hide();
        var data = JSON.parse(msg);
        //  console.log(data);
        //   var donneAll = data;
        //declaration variable total
        var total_formation_assistance_op=0;
        var total_formation_pratique=0;
        var total_formation_sous_charge=0;
        var total_formation_theorique=0;
        var total_reunion_administrative=0;
        var total_reunion_interne= 0;
        var total_heure_total=0;
        var html =
          "          <div id='tableFiltre'>" +
          "<h2>FORMATION / REUNION</h2>"+
          "          <table  id='datatable-buttons' class='table table-striped table-bordered'>" +
          "          <thead>" +
          "          <tr class=''>" +
          "          <th id='Date' class='th text-center'>DATE</th>" +
          "          <th id='Matricule' class='text-center'>MATRICULE</th>" +
          "          <th id='Formation_assistance_op' class='text-center'>	FORMATION: ASSISTANCE OP</th>" +
          "          <th id='Formation_pratique' class='text-center'>	FORMATION: PRATIQUE</th>" +
          "          <th id='Formation_sous-charge' class='text-center'>	FORMATION: SOUS-CHARGE</th>" +
          "          <th id='Formation_theorique' class='text-center'>	FORMATION: THEORIQUE</th>" +
          "          <th id='Reunion_Administrative/RH' class='text-center'>	REUNION: ADMINISTRATIVE/RH</th>" +
          "          <th id='Reunion_Interne' class='text-center'>	REUNION: INTERNE</th>" +
          "          <th id='Total' class='text-center'>TOTAL(personne)</th>" +
          "          </tr>" +
          "          </thead>" +
          "          <tbody>" +
          "";
        data[0].forEach(function(object){
          var style_formation_assistance_op="style='background-color: blue;color:white'";
          var style_formation_pratique="style='background-color: blue;color:white'";
          var style_formation_souscharge="style='background-color: blue;color:white'";
          var style_formation_theorique="style='background-color: blue;color:white'";
          var style_formation_administrative="style='background-color: blue;color:white'";
          var style_reunion_interne="style='background-color: blue;color:white'";
          if(object.formation_assistance_op.toString() == "0") style_formation_assistance_op="style='background-color: #c2c6d6;'";
          if(object.formation_pratique.toString() == "0") style_formation_pratique="style='background-color: #c2c6d6;'";
          if(object.formation_souscharge.toString() == "0") style_formation_souscharge="style='background-color: #c2c6d6;'";
          if(object.formation_theorique.toString() == "0") style_formation_theorique="style='background-color: #c2c6d6;'";
          if(object.formation_administrative.toString() == "0") style_formation_administrative="style='background-color: #c2c6d6;'";
          if(object.reunion_interne.toString() == "0") style_reunion_interne="style='background-color: #c2c6d6;'";
          //Continue Calcule
          total_formation_assistance_op +=parseInt(object.formation_assistance_op);
          total_formation_pratique += parseInt(object.formation_pratique.toString());
          total_formation_sous_charge += parseInt(object.formation_souscharge.toString());
          total_formation_theorique += parseInt(object.formation_theorique.toString());
          total_reunion_administrative += parseInt(object.formation_administrative.toString());
          total_reunion_interne += parseInt(object.reunion_interne.toString());
          total_heure_total += parseInt(SommeHeureFormationReunion(object));

          //   console.log(total_formation_assistance_op+" - "+object.id_pers+" - "+changeSecondToBasicHourFormat(total_formation_assistance_op));
          //console.log(total_heure_total+" - "+object.id_pers);
          // Continue HTML ROW 1
          html+="<tr><td>"+object.date+"</td><td>"+object.id_pers+"</td>" +
            "<td "+style_formation_assistance_op+">"+changeSecondToBasicHourFormat(object.formation_assistance_op)+"</td>" +
            "<td "+style_formation_pratique+">"+changeSecondToBasicHourFormat(object.formation_pratique)+"</td>" +
            "<td "+style_formation_souscharge+">"+changeSecondToBasicHourFormat(object.formation_souscharge)+"</td>" +
            "<td "+style_formation_theorique+">"+changeSecondToBasicHourFormat(object.formation_theorique)+"</td>" +
            "<td "+style_formation_administrative+">"+changeSecondToBasicHourFormat(object.formation_administrative)+"</td>" +
            "<td "+style_reunion_interne+">"+changeSecondToBasicHourFormat(object.reunion_interne)+"</td>" +
            "<td>"+changeSecondToBasicHourFormat(SommeHeureFormationReunion(object))+"</td>" +
            "</tr>";
        });
        html +="<tr><td>TOTAL = </td><td></td>" +
          "<td>"+changeSecondToBasicHourFormat(total_formation_assistance_op)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_formation_pratique)+"</td>"+
          "<td>"+changeSecondToBasicHourFormat(total_formation_sous_charge)+"</td>"+
          "<td>"+changeSecondToBasicHourFormat(total_formation_theorique)+"</td>"+
          "<td>"+changeSecondToBasicHourFormat(total_reunion_administrative)+"</td>"+
          "<td>"+changeSecondToBasicHourFormat(total_reunion_interne)+"</td>"+
          "<td>"+changeSecondToBasicHourFormat(total_heure_total)+"</td>"+
          "</tr>";
        html += "</tbody></table>";
        // PROBLEME add


        html += ""+
          "<h2>PROBLEME TECHNIQUE</h2>"+
          "          <table  id='datatable-buttons_2' class='table table-striped table-bordered'>" +
          "          <thead>" +
          "          <tr class=''>" +
          "          <th id='Date' class='th text-center'>DATE</th>" +
          "          <th id='Matricule' class='text-center'>MATRICULE</th>" +
          "          <th id='Formation_assistance_op' class='text-center'>PROBLEME: INTERNET</th>" +
          "          <th id='Formation_pratique' class='text-center'>PROBLEME: MACHINE</th>" +
          "          <th id='Formation_panne_reseau' class='text-center'>PANNE RESEAU</th>" +
          "          <th id='Formation_probleme_application' class='text-center'>PROBLEME APPLICATION</th>" +
          "          <th id='Formation_probleme_ferme_bureautique' class='text-center'>PROBLEME: FERME BUREAUTIQUE</th>" +
          "          <th id='Formation_probleme_progiciel_generali' class='text-center'>PROBLEME: Progiciel generali (maestro avt)</th>" +
          "          <th id='Formation_probleme_vdi' class='text-center'>PROBLEME: VDI</th>" +
          "          <th id='Formation_probleme_kiamo' class='text-center'>PROBLEME: Kiamo</th>" +
          "          <th id='Formation_probleme_interne' class='text-center'>PROBLEME: Probleme interne</th>" +
          "          <th id='probleme_connexion_bureau' class='text-center'>PROBLEME TECHNIQUE: Connexion Bureau</th>" +
          "          <th id='Total' class='text-center'>TOTAL(personne)</th>" +
          "          </tr>" +
          "          </thead>" +
          "          <tbody>" +
          "";
        // Declaration Somme Probleme Interaction
        var total_probleme_internet=0;
        var total_probleme_machine= 0;
        var total_panne_reseau= 0;
        var total_probleme_application= 0;
        var total_ferme_bureautique= 0;
        var total_progiciel_generali= 0;
        var total_probleme_vdi= 0;
        var total_probleme_kiamo= 0;
        var total_probleme_interne= 0;
        var total_probleme_connexion_bureau= 0;
        var total_heure_second_total=0;

        data[1].forEach(function(object){
          var style_probleme_internet="style='background-color: blue;color:white'";
          var style_probleme_machine="style='background-color: blue;color:white'";
          var style_panne_reseau="style='background-color: blue;color:white'";
          var style_probleme_application="style='background-color: blue;color:white'";
          var style_ferme_bureautique="style='background-color: blue;color:white'";
          var style_progiciel_generali="style='background-color: blue;color:white'";
          var style_probleme_vdi="style='background-color: blue;color:white'";
          var style_probleme_kiamo="style='background-color: blue;color:white'";
          var style_probleme_interne="style='background-color: blue;color:white'";
          var style_probleme_connexion_bureau="style='background-color: blue;color:white'";

          if(object.probleme_internet.toString() == "0") style_probleme_internet="style='background-color: #c2c6d6;'";
          if(object.probleme_machine.toString() == "0") style_probleme_machine="style='background-color: #c2c6d6;'";
          if(object.panne_reseau.toString() == "0") style_panne_reseau="style='background-color: #c2c6d6;'";
          if(object.probleme_application.toString() == "0") style_probleme_application="style='background-color: #c2c6d6;'";
          if(object.ferme_bureautique.toString() == "0") style_ferme_bureautique="style='background-color: #c2c6d6;'";
          if(object.progiciel_generali.toString() == "0") style_progiciel_generali="style='background-color: #c2c6d6;'";
          if(object.probleme_vdi.toString() == "0") style_probleme_vdi="style='background-color: #c2c6d6;'";
          if(object.probleme_kiamo.toString() == "0") style_probleme_kiamo="style='background-color: #c2c6d6;'";
          if(object.probleme_interne.toString() == "0") style_probleme_interne="style='background-color: #c2c6d6;'";
          if(object.probleme_connexion_bureau.toString() == "0") style_probleme_connexion_bureau="style='background-color: #c2c6d6;'";
          // Assigne Total
          total_probleme_internet= total_probleme_internet + parseInt(object.probleme_internet.toString());
          total_probleme_machine= total_probleme_machine + parseInt(object.probleme_machine.toString());
          total_panne_reseau= total_panne_reseau + parseInt(object.panne_reseau.toString());
          total_probleme_application= total_probleme_application + parseInt(object.probleme_application.toString());
          total_ferme_bureautique= total_ferme_bureautique + parseInt(object.ferme_bureautique.toString());
          total_progiciel_generali= total_progiciel_generali + parseInt(object.progiciel_generali.toString());
          total_probleme_vdi= total_probleme_vdi + parseInt(object.probleme_vdi.toString());
          total_probleme_kiamo= total_probleme_kiamo + parseInt(object.probleme_kiamo.toString());
          total_probleme_interne= total_probleme_interne + parseInt(object.probleme_interne.toString());
          total_probleme_connexion_bureau= total_probleme_connexion_bureau + parseInt(object.probleme_connexion_bureau.toString());
          // alert(total_heure_second_total);
          total_heure_second_total = total_heure_second_total + parseInt(SommeHeureProblemeTechnique(object));
          html+="<tr><td>"+object.date+"</td><td>"+object.id_pers+"</td>" +
            "<td "+style_probleme_internet+">"+changeSecondToBasicHourFormat(object.probleme_internet)+"</td>" +
            "<td "+style_probleme_machine+">"+changeSecondToBasicHourFormat(object.probleme_machine)+"</td>" +
            "<td "+style_panne_reseau+">"+changeSecondToBasicHourFormat(object.panne_reseau)+"</td>" +
            "<td "+style_probleme_application+">"+changeSecondToBasicHourFormat(object.probleme_application)+"</td>" +
            "<td "+style_ferme_bureautique+">"+changeSecondToBasicHourFormat(object.ferme_bureautique)+"</td>" +
            "<td "+style_progiciel_generali+">"+changeSecondToBasicHourFormat(object.progiciel_generali)+"</td>" +
            "<td "+style_probleme_vdi+">"+changeSecondToBasicHourFormat(object.probleme_vdi)+"</td>" +
            "<td "+style_probleme_kiamo+">"+changeSecondToBasicHourFormat(object.probleme_kiamo)+"</td>" +
            "<td "+style_probleme_interne+">"+changeSecondToBasicHourFormat(object.probleme_interne)+"</td>" +
            "<td "+style_probleme_connexion_bureau+">"+changeSecondToBasicHourFormat(object.probleme_connexion_bureau)+"</td>" +
            "<td>"+changeSecondToBasicHourFormat(SommeHeureProblemeTechnique(object))+"</td></tr>";
        });

        html += "<tr>" +
          "<td>TOTAL =</td><td></td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_internet)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_machine)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_panne_reseau)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_application)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_ferme_bureautique)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_progiciel_generali)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_vdi)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_kiamo)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_interne)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_probleme_connexion_bureau)+"</td>" +
          "<td>"+changeSecondToBasicHourFormat(total_heure_second_total)+"</td>" +
          "</tr>" +
          "</tbody></table>";
        html += "</div>";
        $("#div").append(html);
        reloadDatatableHeure();
        reloadDatatableHeure_Second();
      },
      error: function (error) {
        alert(error);
      }
    });
  }
  // DATATABLE ET CALCULE
  function reloadDatatableHeure(){
    var handleDataTableButtons_v = function() {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          searching: false,
          paging: false,
          "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
          "iDisplayLength": 25,
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "csv",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "pdfHtml5",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },
          ],
          responsive: true
        });
      }
    };

    TableManageButtons_v = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons_v();
        }
      };
    }();


    TableManageButtons_v.init();
  }

  function reloadDatatableHeure_Second(){
    var handleDataTableButtons_v = function() {
      if ($("#datatable-buttons_2").length) {
        $("#datatable-buttons_2").DataTable({
          dom: "Bfrtip",
          searching: false,
          paging: false,
          "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
          "iDisplayLength": 25,
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "csv",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "pdfHtml5",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },
          ],
          responsive: true
        });
      }
    };

    TableManageButtons_v = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons_v();
        }
      };
    }();


    TableManageButtons_v.init();
  }
  // Calcule some personne Formation/reunion
  function SommeHeureFormationReunion(obj){
    var somme = 0;
    somme = parseInt(obj.formation_assistance_op.toString()) + parseInt(obj.formation_pratique.toString()) + parseInt(obj.formation_souscharge.toString()) + parseInt(obj.formation_theorique.toString()) + parseInt(obj.formation_administrative.toString()) + parseInt(obj.reunion_interne.toString());
    /*if(somme == 0)
    {
      alert("TONGA");
    }*/
    return somme;
  }
  // Calcule some personne Probleme technique
  function SommeHeureProblemeTechnique(obj){
    var somme = 0;
    somme = parseInt(obj.probleme_internet.toString())+parseInt(obj.probleme_machine.toString())+parseInt(obj.panne_reseau.toString())+parseInt(obj.probleme_application.toString())+parseInt(obj.ferme_bureautique.toString())+parseInt(obj.progiciel_generali.toString())+parseInt(obj.probleme_vdi.toString())+parseInt(obj.probleme_kiamo.toString())+parseInt(obj.probleme_interne.toString())+parseInt(obj.probleme_connexion_bureau.toString());
    return somme;
  }

  var niveaux = <%=req.session.niveaux %>;
  var user = <%=req.session.user %>;


  //alert(niveaux);
</script>
</body>
</html>
