<!DOCTYPE html>
<html>
<head>
  <title>Gestion prime almerys</title>
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/local.css">
  <link rel="stylesheet" href="/css/Style_v3.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
  <!--STYLES END-->
  <style>
    #overlay {
      background-color: rgba(0, 0, 0, 0.8);
      color: #c7ffc9;
      position: fixed;
      z-index: 5000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      float: left;
      text-align: center;
      display: none;
      padding-top: 25%;
    }
  </style>
</head>

<body onLoad="loadspecialite();">
<% if(req.session.droit==1){
%>
<% include ../../includes/entete.ejs %>
<% }else{
%>
<% include ../../includes/enteteOperateur.ejs %>
<% }%>
<div id="page-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class=" row ">
        <div  class="">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> <i class="fa fa-bar-chart-o"></i> </h3>
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-1 col-md-1 col-lg-2">
                    <select class="form-control" tabindex="-1" id="specialite">
                      <option value="">SPECIALITE</option>
                    </select>
                  </div>
                  <div class="col-xs-1 col-md-1 col-lg-1">
                    <input class="form-control" tabindex="-1" placeholder="Date Debut" id="datedeb" type="text"/>
                  </div>
                  <div class="col-xs-1 col-md-2 col-lg-2">
                    <a   title="echantillons CQ"> <span style="cursor:pointer"><i class="fa fa-ellipsis-v fa-3x link">  </i></span> </a>
                    <a onclick="loadData();" class="text-info" title="Statistiques"> <span style="cursor:pointer"><i class="fa fa-cog fa-3x link"></i></span> </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="overlay">

    <div id="loadG" class="">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="row">
    <div id="" class="col-md-12 col-sm-12 col-xs-12">
    </div>
  </div>
</div>
<div id="loadC" class="col-md-4" style="display:none">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
<div id="prime" class="col-md-12 col-sm-12 col-xs-12">
</div>
</div>
</div>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
  var niveaux = <%=req.session.niveaux %>;
  var user = <%=req.session.user %>;
</script>
<script>//
  $(function() {
    $( "#datedeb").datepicker({
      dateFormat: 'yy/mm/dd'
    }).datepicker("setDate", new Date());
    $( "#datefin").datepicker({
      dateFormat: 'yymmdd'
    }).datepicker("setDate", new Date());
  } );
</script>
<!-- ECharts -->
<script src="/vendors/echarts/dist/echarts.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<!-- NProgress -->
<script src="/js/echarts/theme.js"></script>
<script src="/js/echarts/echarts.js"></script>
<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>
<script>


  function loadspecialite() {
    $.ajax({
      type: "GET",
      url: "/getspecialite",

      success: function(msg){

        var html = "<option value=''>DEPARTEMENT</option>";
        var data = null;
        $("#specialite").html("");
        try {
          data = JSON.parse(msg);
          for (var i = 0 ; i<data.length ; i++){
            html += "<option value='"+data[i].id_dossier+"'>"+data[i].num_dossier+"</option>"
          }
          $("#specialite").html(html);
        }
        catch (e) {
          $("#specialite").html(html);
        }

      },
      error: function (error) {

      }
    });
  }

  var listPrime = [];

  function loadData(){
    var id = $("#specialite").val();
    var date = $("#datedeb").val();

    $.ajax({
      type: "GET",
      url: "/loadData?id_dossier="+id+"&pdate="+date,

      success: function(msg){

        var dataSourse = null;
        try {
          dataSourse = JSON.parse(msg);
          var data = dataSourse.ssp;
          var datapr = dataSourse.prime;
          listPrime = dataSourse.prime;
          var dataCr = dataSourse.crenaux;

          $("#prime").html("");
          var html_table_global = "<div class='col-md-12 col-sm-12 col-xs-12'>"+
            "          <div class='x_panel'>"+
            "            <div class='x_title'>"+
            "            <div class='row'><input class='form-control col-md-4 col-sm-4 col-xs-12' id='qte_cible' type='text' value='0'/><input class='form-control col-md-4 col-sm-4 col-xs-12' id='prime' type='text' value='0'/></div>"+
            "          <ul class='nav navbar-right panel_toolbox'>"+
            "            <li><a class='' onclick='save();'><i class='fa fa-save text-success'></i></a>"+
            "            </li>"+
            "            <li><a class='collapse-link'><i class='fa fa-chevron-up'></i></a>"+
            "            </li>"+
            ""+
            "            <li><a class='close-link'><i class='fa fa-close'></i></a>"+
            "            </li>"+
            "            </ul>"+
            "            <div class='clearfix'></div>"+
            "            </div>"+
            "            <div class='x_content row'>" +
            "               <table>" +
            "                 <thead>" +
            "                   <tr><th>Sous specialite</th>" +
            "" ;
          for (var i = 0 ; i<dataCr.length ; i++) {
            html_table_global+="<th>"+dataCr[i].libelle+"</th>";
          }

          html_table_global+="</tr></thead><tbody>";

          for (var i = 0 ; i<data.length ; i++) {
            html_table_global+="<tr><td>"+data[i].libelle+"</td>";
            for (var ii = 0 ; ii<dataCr.length ; ii++) {
              html_table_global+="<td><input style='background-color: #00f700;color: black' type='text' class='form-control' id='st_"+data[i].id_lotclient+"_"+dataCr[ii].id+"' value='0'/><input type='text' class='form-control' id='st_"+data[i].id_lotclient+"_"+dataCr[ii].id+"_prix' value='0'/></td>";
            }
            html_table_global+="</tr>";

          }




          html_table_global += "</tbody></table></div></div>";

          $("#prime").html(html_table_global);

          for (var i = 0 ; i<datapr.length ; i++) {
            $("#st_"+datapr[i].id_s_spec+"_"+datapr[i].id_crenaux).val(datapr[i].cible || '0');
            $("#st_"+datapr[i].id_s_spec+"_"+datapr[i].id_crenaux+"_prix").val(datapr[i].montant || '0');
          }
          $.getScript( "/js/custom.min.js" );
        }catch(e){
        }
      },
      error: function (error) {

      }
    });
  }

  function save(){
    $("#overlay").show();
    for (var i = 0 ; i<listPrime.length ; i++) {
      var valeur = $("#st_"+listPrime[i].id_s_spec+"_"+listPrime[i].id_crenaux).val();
      var mont = $("#st_"+listPrime[i].id_s_spec+"_"+listPrime[i].id_crenaux+"_prix").val();
      $.ajax({
        type: "GET",
        url: "/saveCible?id_prime="+listPrime[i].id+"&cible="+valeur+"&montant="+mont,

        success: function(msg){
        },
        error: function (error) {
        }
      });
    }
    $("#overlay").hide();
  }
</script>
<!--<script src="/js/rp_almerys.js"></script>-->
</body>
</html>
