 <!DOCTYPE html>
<html>
<head>
  <title>TDB Stat</title>

  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/local.css">
  <link rel="stylesheet" href="/css/Style_v3.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <!--STYLES END-->
</head>
       <body>
           <div id="page-wrapper" class="content">




          <div class="">


            <div class="clearfix"></div>

           <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><div class="">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="number" id="timereload" required="required"  value="4">
                            </div>
                          </div>
                        </li>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="">
                    <div class="row top_tiles">

                     <!-- total --->

                     <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">

                          <div class="tile-stats">
                            <div class="icon"><i class="fa fa-check-square-o"></i></div>

                            <a href="#" data-toggle="modal" data-target="#myModalPers" ><div class="count" id="nbactif">0</div></a>
                            <h3>Total actif</h3>
                            <p>personnels actifs.</p>
                          </div>
                      </div>


                      <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-folder-open"></i></div>
                          <div class="count" id="nbdossier">0</div>
                          <h3>Dossiers</h3>
                          <p>Dossier en cours de traitement</p>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                          <div class="count" id="nbconge">0</div>
                          <h3>Congés</h3>
                          <p>Congés payer et non payer</p>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>




<div class="clearfix"></div>

           <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><div class="">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="number" id="timereload" required="required"  value="4">
                            </div>
                          </div>
                        </li>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="">
                    <div class="row top_tiles">

                     <!-- total --->

                     <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">

                          <div class="tile-stats">
                            <div class="icon"><i class="fa fa-check-square-o"></i></div>

                            <a href="#" data-toggle="modal" data-target="#myModalPers" ><div class="count" id="nbactif">0</div></a>
                            <h3>Total actif</h3>
                            <p>personnels actifs.</p>
                          </div>
                      </div>


                      <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-folder-open"></i></div>
                          <div class="count" id="nbdossier">0</div>
                          <h3>Dossiers</h3>
                          <p>Dossier en cours de traitement</p>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                          <div class="count" id="nbconge">0</div>
                          <h3>Congés</h3>
                          <p>Congés payer et non payer</p>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>



            </div>
        </div>
       </body>

<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


<script src="/js/custom.min.js"></script>

</html>


