<div class="container">
  <div id="myModal_export" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">&times;</button>
          <h4 class="modal-title">Grille</h4>
        </div>
        <div class="modal-body">
			<table class="table table-bordered" id="datatable-buttons_det" id="panel_stat_det">
			  <thead>
				<tr>
				  <th></th>
				  <th style="background-color: #cc0a0e;color: white;">Ponderation</th>
				  <th style="background-color: #cc0a0e;color: white;">NA</th>
				  <th style="background-color: #cc0a0e;color: white;">NOTE</th>
				  <th style="background-color: #cc0a0e;color: white;">COMMENTAIRE</th>
				</tr>
			  </thead>
			  <tbody id="donne_det_table">

			  </tbody>
			</table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
