
<% if(req.session.droit==1){

%>
<% include ../includes/entete.ejs %>
<% }else{

%>
<% include ../includes/enteteOperateur.ejs %>

<% }%>
<div id="page-wrapper">
  <div class="row">
	          <div class="col-md-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i></h3>
                                            </div>
                                            <div class="panel-body">
                                              <div class="card-img" id="containerByDossier"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

</div>

