<!DOCTYPE html>
<html>
<head>
  <title>TDB Stat</title>

  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/local.css">
  <link rel="stylesheet" href="/css/Style_v3.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
  <!--STYLES END-->
</head>

<body class="hold-transition skin-blue sidebar-mini">

  <% if(req.session.droit==1){

    %>
    <% include ../includes/entete.ejs %>
    <% }else{
    
    %>
    <% include ../includes/enteteOperateur.ejs %>
    
    <% }%>

<div id="page-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class=" row ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"> <i class="fa fa-bar-chart-o"></i> </h3>
            <div class="row">
              <div class="form-group">

                  <%
                  /*
                   req.session.mat = matricule;
                   req.session.dossier = dossier;
                   req.session.datedeb = dateess;
                   */
                  var datedb = "";
                  var mat = "";
                  var datefn = "";
                  if(req.session.datedeb!=null){
                    datedb = req.session.datedeb;
                  }if(req.session.mat!=null){
                    mat = req.session.mat;
                  }if(req.session.datefin!=null){
                    datefn = req.session.datefin;
                  }
                  %>

                  <div class="col-xs-2">
                    <input class="form-control" type="text" id="datetimd" name="datedeb" placeholder = "Date Debut" value="<%=datedb%>"/>
                  </div>
                  <div class="col-xs-2">
                    <input class="form-control" type="text" id="datetimf" name="datefin" placeholder = "Date Fin" value="<%=datefn%>"/>
                  </div>
                  <% if(req.session.droit==1){%>
                  <div class="col-xs-2">
                    <input class="form-control" id="mat" type="number" name="matricule" placeholder = "Matricule" value="<%=mat%>"/>
                  </div>
                  <% } %>
                  <button type="submit" class="btn btn-info btn-md" onclick="loadData();">ok</button>
              </div>
            </div>
          </div>

          <div id="load" class="col-md-4" style="display:none">
            <img src="img/almerys-loader.gif" class="col-md-2" alt="loader">
          </div>
          <div class="panel-body" id="grapheResponse">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script>

  function loadData(){
    var dateDeb = $( "#datetimd" ).val();
    var dateFin = $( "#datetimf" ).val();
    var mat = $( "#mat" ).val();
    $.ajax({
      type: "GET",
      url: "/ajaxStat?datedeb="+dateDeb+"&datefin="+dateFin+"&matricule="+mat,
      beforeSend: function(xhr){
        //$( "#load").show();
      },
      success: function(msg){
        $("#grapheResponse").html(msg);
        $( "#load").hide();
        //$( "#load").hide();
      },
      error: function (error) {
        $( "#load").hide();
        alert('error; ' +error);
      }
    });
  }


</script>

<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script>

  $(function() {
    $( "#datetimd" ).datepicker({
      dateFormat: 'yymmdd'
    });
    $( "#datetimf" ).datepicker({
      dateFormat: 'yymmdd'
    });
  } );
</script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/material/chart/highcharts.js"></script>
<script src="/material/chart/exporting.js"></script>
</body>
</html>
