
<script type="text/javascript" src="/timepicker_ui/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/timepicker_ui/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/timepicker_ui/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/timepicker_ui/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<script type="text/javascript" src="/timepicker_ui/jquery-ui-sliderAccess.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="/timepicker_ui/jquery/jquery-ui.css" />
<link rel="stylesheet" href="/timepicker_ui/jquery-ui-timepicker-addon.min.css">

<td class=""><input disabled name="rest_example_1"   class="vh_heure_conge timepicker"  type="text" size="8" oninput="verifierFormatHeure(this);" value=""/></td>
<td class=""><input name="rest_example_1"  class="vh_heure_conge timepicker HS 40"  type="text" size="8" oninput="verifierFormatHeure(this);" value=""/></td>
<td class=""><input name="rest_example_1"  class="vh_heure_conge timepicker HS 100" type="text" size="8" oninput="verifierFormatHeure(this);" value=""/></td>


<script>
  $(function() {
    $( "#datedeb").datepicker({
      dateFormat: 'dd/mm/yy'
    }).datepicker("setDate", new Date());

    $('input[name="rest_example_1"]').timepicker({
      timeFormat: "HH:mm:ss"
    });
  } );
</script>


<script src="/js/dependencies/sails.io.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/material/chart/highcharts.js"></script>
<script src="/material/chart/exporting.js"></script>
<script src="/js/dossierEtapeApp.js"></script>

<script src="/js/material-modal.min.js"></script>
<script src="/js/pikaday.js"></script>
