<td>
											<div class="checkbox">
												<label><input type="radio" name="32" id="32" value="0">0</label>
												<label><input type="radio" name="32" id="32" value="1">1</label>
												<label><input type="radio" name="32" id="32" value="2">2</label>
												<label><input type="radio" name="32" id="32" value="3">3</label>
											</div>
										</td>
										<td>
											<textarea class="form-control" rows="2" id="commentaire-32" name="commentaire-32"></textarea>
										</td>
